doctype
html
  body
    if message
      p= message
    if formAction
      p= formAction
    div
      form(action=formAction, method='post')
        div
          label(for='oldPassword') old password: 
          input(id='oldPassword', type='password',value='',placeholder='',name='oldPassword')
        div
          label(for='newPassword') new password: 
          input(id='newPassword', type='password',value='',placeholder='',name='newPassword')
        div
          input(type='submit', value='Submit changes')