doctype
html(lang='en')
  head
    title Login Page
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/login.css', rel='stylesheet')
  body
    div.container
      form.form-signin(action='/login',method='post')
        h3.form-signin-heading Login to your account
        label.sr-only(for='inputEmail') E-mail address
        input.form-control#inputEmail(type='text', placeholder='E-mail',name='email', required autofocus)
        label.sr-only(for='inputPassword') Password
        input.form-control#inputPassword(type='password', placeholder='Password' name='password', required)
        input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Sign in')
        br
        div.form-group
          label No account yet? #[a(href='/register') Register]