doctype
html(lang='en')
  head
    title Login Page
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/login.css', rel='stylesheet')
  body
    div.container
      div.form-signin(action='/login',method='post')
        h3.form-signin-heading Welcome #{user.name}
        p You are currently logged in with the e-mail: #{user.email}
        br
        div.form-group
          a(href='/logout') Logout