doctype
html
  body
    p Profile
    p= welcomeMessage
    if (user)
      p You are currently logged in as #{user.email}
      // a(href='/editPassword') edit profile
      // br
      a(href='/logout') logout